body{
  background-color: white;

}
h1{
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: 10px;
}
/*menubarmenubarmenubarmenubarmenubarmenubarmenubarmenubarmenubarmenubarmenubar*/
.upper-menu{
  margin-top: 70px;
}
a{
  margin: 0 10px 0 10px;
}
.decoration{
  text-decoration: none;
  color: black;
}
.menu{
  display: inline-block;
  background-color: #E4F9F5;
  height: 30px;
  padding-top: 15px;
  border-radius: 20px;
}
.menu:hover{
  background-color: white;
}
.menu-20000{
  display: inline-block;
  background-color: #30E3CB;
  height: 30px;
  padding-top: 15px;
  border-radius: 20px;
}
.menu-20000:hover{
  background-color: white;
}
.buttom-menu-smartphone{
  display: inline-block;
  background-color: #30E3CB;
  height: 30px;
  padding-top: 15px;
  border-radius: 8px;
}
.buttom-menu-smartphone:hover{
  background-color: #59E2EE;
}
.buttom-menu-laptop{
  display: inline-block;
  background-color: #E4F9F5;
  height: 30px;
  padding-top: 15px;
  border-radius: 8px;
}
.buttom-menu-laptop:hover{
  background-color: #59E2EE;
}
.bttom-menu{
  margin-top: 15px;
}
/*menubarmenubarmenubarmenubarmenubarmenubarmenubarmenubarmenubarmenubarmenubar*/
.under{
  margin-bottom: 0px;
}
.h5{
  margin-top: 0px;
}
.main{
 margin: auto 50px auto 50px
}
.firstphone{
  background-color: #68cb5b;
  border-radius: 10px;
}
.secondphone{
  background-color: #ffc541;
  border-radius: 10px;
}
.thirdphone{
  background-color: #6b40bc;
  border-radius: 10px;
}
.fourthphone{
  background-color: #1592e6;
  border-radius: 10px;
}
.fifthphone{
  background-color: #FD9BCA;
  border-radius: 10px;
}
.hr1{
  border-style: solid none none none;
  border-color: #A3A4A5;
}
.btn {
  background: #da0000;
  background-image: -webkit-linear-gradient(top, #da0000, #da0000);
  background-image: -moz-linear-gradient(top, #da0000, #da0000);
  background-image: -ms-linear-gradient(top, #da0000, #da0000);
  background-image: -o-linear-gradient(top, #da0000, #da0000);
  background-image: linear-gradient(to bottom, #da0000, #da0000);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 1%;
  margin-bottom: 1px;
  display: inline-block;
}

.btn:hover {
  background: #ff6600;
  background-image: -webkit-linear-gradient(top, #ff6600, #ff6600);
  background-image: -moz-linear-gradient(top, #ff6600, #ff6600);
  background-image: -ms-linear-gradient(top, #ff6600, #ff6600);
  background-image: -o-linear-gradient(top, #ff6600, #ff6600);
  background-image: linear-gradient(to bottom, #ff6600, #ff6600);
  text-decoration: none;
}
.price{
  text-decoration: none;
}
.price:hover{
  color: white;
}
.hr2{
  border-style: solid none none none;
  border-color: #da0000;
  margin-top: 1px;
}
.hr2:hover{
  background-color: #ff6600;
}
.h3-1{
 display: inline-block;
 margin-bottom: 0px;
}
.h3-1:hover{
  color: #ff6600;
}
.iqoo{
  float: left;
}
.iqoo-png{
  width: 210px;
  height: 300px;
}
.moto-png{
  width: 210px;
  height: 300px;
}
.h3-moto{
display: inline-block;
 margin-bottom: 0px;
}
.h3-moto:hover{
  color: #ff6600;
}
.realme9pro-png{
  width: 220px;
  height: 275px;
}
.h3-realme9pro{
display: inline-block;
 margin-bottom: 0px;
}
.h3-realme9pro:hover{
  color: #ff6600;
}
.vivot15g-png{
  width: 210px;
  height: 300px;
}
.h3-vivot15g{
display: inline-block;
 margin-bottom: 0px;
}
.h3-vivot15g:hover{
  color:#ff6600;
}
.iqooz65g-png{
  width: 230px;
  height: 290px;
}
.h3-iqooz65g{
display: inline-block;
 margin-bottom: 0px;
}
.h3-iqooz65g:hover{
  color: #ff6600;
}
.bottom-container{
  background-color: #66BFBF;
  height: 150px;
  text-align: center;
  border-radius: 10px;
}
.footer{
  padding-top: 60px;
}
.footer-link{
  color: #11999E;
  margin: auto 10px auto 10px;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
